:root {
  --font-family: "Red Hat Display", sans-serif;
  --color-one: hsl(192, 37%, 48%);
  --color-one-hover: hsl(192, 90%, 77%);
  --color-two: hsl(268, 34%, 53%);
  --color-two-hover: hsl(268, 100%, 86%);
  --color-three: hsl(240, 21%, 20%);
  --color-four: hsl(240, 10%, 57%);
  --color-five: hsl(0, 0%, 98%);
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 112.5%;
}

body {
  font-family: var(--font-family);
}

img {
  max-width: 100%;
}

h1 {
  font-family: var(--font-family);
  font-size: 3.55555rem;
  font-weight: var(--font-weight-900);
  line-height: 3.55555rem;
  color: var(--color-three);
}

h2 {
  font-family: var(--font-family);
  font-size: 2.2222rem;
  font-weight: var(--font-weight-900);
  line-height: 2.44444rem;
  color: var(--color-three);
}

span {
  font-family: var(--font-family);
  font-size: 0.88888rem;
  font-weight: var(--font-weight-900);
  line-height: 1.44444rem;
  letter-spacing: 0.2222rem;
  color: var(--color-one);
}

p {
  font-weight: var(--font-weight-500);
  line-height: 1.44444rem;
  color: var(--color-four);
}

.logo__container {
  width: 39%;
  max-width: 375px;
  margin: 0 auto;
}

.main__container,
.footer__container {
  width: 90%;
  max-width: 327px;
  margin: 0 auto;
}

.footer__container {
  width: 100%;
  max-width: 327px;
  margin: 0 auto;
  position: absolute;
}

.container {
  width: 88%;
  max-width: 375px;
  margin: 0 auto;
}

.mt-23 {
  margin-top: -23px;
}

/*bennett feely - https://bennettfeely.com/clippy/*/
/* w3schools (PX - EM)  - https://www.w3schools.com/tags/ref_pxtoemconversion.asp*/
.logo {
  margin: 48px 0;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.hero__left {
  margin-left: -20px;
}

.hero__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: span 3;
}

.hero__heading {
  width: 88%;
  font-size: 40px;
  margin: 0 auto 24px auto;
  text-align: center;
  line-height: 44px;
}

.hero__paragraph {
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 32px;
}

.hero__right {
  margin-right: -35px;
}

.btn {
  width: 70%;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 26px;
  text-align: center;
  border-radius: 29px;
  padding: 0.9em 1.611em;
  margin: 0 auto;
}

.btn__large--green {
  background: var(--color-one);
  color: #ffffff;
  margin-bottom: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__large--green:hover, .btn__large--green:active {
  background: rgba(114, 193, 213, 0.9);
  cursor: pointer;
}

.btn__version--color {
  color: var(--color-one-hover);
  letter-spacing: inherit;
}

.btn__version--color:active {
  background: var(--color-one);
}

.btn__large--purple {
  background: var(--color-two);
  color: #ffffff;
  margin-bottom: 16px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 49%;
  position: absolute;
  top: 76%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn__large--purple:hover, .btn__large--purple:active {
  background: rgba(177, 141, 221, 0.9);
  cursor: pointer;
}

.btn__version-purple--color {
  color: var(--color-two-hover);
  letter-spacing: inherit;
}

.btn__version-purple--color:active {
  background: var(--color-two);
}

.btn__small--purple {
  background: var(--color-two);
  color: #ffffff;
  width: 47%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__small--purple:hover, .btn__small--purple:active {
  background: rgba(177, 141, 221, 0.9);
  cursor: pointer;
}

.divider {
  position: relative;
  margin: 64px 0 0 0;
  z-index: 2;
}

.divider__line {
  width: 1px;
  height: 84px;
  opacity: 0.25;
  border: 1px solid var(--color-four);
  margin: 0 auto;
}

.divider__circle {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-five);
  border: 1px solid rgba(135, 135, 157, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
  margin: 0 auto;
}

.divider__text--color {
  color: var(--color-four);
  letter-spacing: inherit;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  margin-top: 64px;
  margin-bottom: 64px;
}

.images__photo--1, .images__photo--2, .images__photo--3, .images__photo--4 {
  -webkit-clip-path: inset(4% 4% 4% 4% round 8px);
          clip-path: inset(4% 4% 4% 4% round 8px);
}

.main__title {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: var(--font-weight-900);
  line-height: 26px;
  letter-spacing: 0.2222rem;
  color: var(--color-one);
  text-transform: uppercase;
  text-align: center;
}

.main__heading {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  margin: 24px 0 32px 0;
}

.main__paragraph {
  font-size: 16px;
  text-align: center;
  width: 101%;
}

.footer {
  position: relative;
  z-index: 1;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  mix-blend-mode: normal;
  background: var(--color-one);
  opacity: 88%;
}

.footer__heading {
  position: absolute;
  width: 100%;
  top: 30%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 32px;
  text-align: center;
  color: var(--color-five);
}

.footer__paragraph {
  position: absolute;
  width: 87%;
  top: 54%;
  left: 49%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  text-align: center;
  color: var(--color-five);
}
