:root {
  --font-family: "Red Hat Display", sans-serif;
  --color-one: hsl(192, 37%, 48%);
  --color-one-hover: hsl(192, 90%, 77%);
  --color-two: hsl(268, 34%, 53%);
  --color-two-hover: hsl(268, 100%, 86%);
  --color-three: hsl(240, 21%, 20%);
  --color-four: hsl(240, 10%, 57%);
  --color-five: hsl(0, 0%, 98%);
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
  --mc-auto: 0 auto;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 112.5%;
}

body {
  font-family: var(--font-family);
}

img {
  max-width: 100%;
}

h1 {
  font-family: var(--font-family);
  font-size: 3.55555rem;
  font-weight: var(--font-weight-900);
  line-height: 3.55555rem;
  color: var(--color-three);
}

h2 {
  font-family: var(--font-family);
  font-size: 2.2222rem;
  font-weight: var(--font-weight-900);
  line-height: 2.44444rem;
  color: var(--color-three);
}

span {
  font-family: var(--font-family);
  font-size: 0.88888rem;
  font-weight: var(--font-weight-900);
  line-height: 1.44444rem;
  letter-spacing: 0.2222rem;
  color: var(--color-one);
}

p {
  font-weight: var(--font-weight-500);
  line-height: 1.44444rem;
  color: var(--color-four);
}

.logo__container {
  width: 39%;
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .logo__container {
    width: 18%;
    max-width: 768px;
  }
}

@media (min-width: 90em) {
  .logo__container {
    width: 10%;
    max-width: 1440px;
  }
}

@media (min-width: 120em) {
  .logo__container {
    width: 7%;
    max-width: 1920px;
  }
}

.main__container {
  width: 90%;
  max-width: 327px;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .main__container {
    max-width: 768px;
  }
}

@media (min-width: 90em) {
  .main__container {
    max-width: 540px;
  }
}

.container {
  width: 88%;
  max-width: 375px;
  margin: 0 auto;
}

@media (min-width: 48em) {
  .container {
    width: 90%;
    max-width: 768px;
  }
}

@media (min-width: 50em) {
  .container {
    width: 97%;
    max-width: 1200px;
  }
}

@media (min-width: 90em) {
  .container {
    width: 74%;
    max-width: 1110px;
  }
}

@media (min-width: 120em) {
  .container {
    width: 71%;
    max-width: 1920px;
  }
}

.mt-23 {
  margin-top: -1.278rem;
}

/*bennett feely - https://bennettfeely.com/clippy/*/
/* w3schools (PX - EM)  - https://www.w3schools.com/tags/ref_pxtoemconversion.asp*/
.logo {
  margin: 2.667rem 0;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

.hero__left, .hero__right {
  display: none;
}

@media (min-width: 50em) {
  .hero__left, .hero__right {
    display: block;
  }
}

@media (min-width: 120em) {
  .hero__left {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.hero__mobile {
  width: 100%;
}

@media (min-width: 50em) {
  .hero__mobile {
    display: none;
  }
}

@media (min-width: 50em) {
  .hero {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
}

.hero__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: span 3;
}

@media (min-width: 50em) {
  .hero__main {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    grid-column: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 120em) {
  .hero__main {
    grid-column: 1/ -1;
  }
}

.hero__heading {
  width: 88%;
  font-size: 2.222rem;
  margin: 2.667rem auto 1.333rem auto;
  text-align: center;
  line-height: 2.444rem;
}

@media (min-width: 48em) {
  .hero__heading {
    font-size: 2.667rem;
    line-height: 2.667rem;
    margin: 4rem auto 1.333rem auto;
    max-width: 339px;
  }
}

@media (min-width: 50em) {
  .hero__heading {
    margin-top: 1.278rem;
  }
}

@media (min-width: 90em) {
  .hero__heading {
    margin-top: 3.333rem;
    max-width: 445px;
    width: 60%;
  }
}

.hero__paragraph {
  width: 100%;
  font-size: 0.889rem;
  line-height: 1.444rem;
  text-align: center;
  margin-bottom: 1.778rem;
}

@media (min-width: 48em) {
  .hero__paragraph {
    max-width: 457px;
    width: 75%;
    margin: 0 auto 1.778rem auto;
  }
}

@media (min-width: 50em) {
  .hero__paragraph {
    width: 93%;
  }
}

@media (min-width: 90em) {
  .hero__paragraph {
    max-width: 540px;
    width: 87%;
  }
}

@media (min-width: 48em) {
  .hero__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 6.278rem;
  }
}

@media (min-width: 50em) {
  .hero__btns {
    padding: 0 0.111rem;
  }
}

.hero__right {
  margin-right: 0;
}

@media (min-width: 50em) {
  .hero__right {
    margin-top: 2.389rem;
  }
}

@media (min-width: 90em) {
  .hero__right {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 3;
    grid-column: 3/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: -2;
    grid-row: 3/1;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 120em) {
  .hero__right {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 120em) {
  .hero {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin: auto 2.5rem;
  }
}

.btn {
  width: 70%;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 1.444rem;
  text-align: center;
  border-radius: 29px;
  padding: 0.9em 1.611em;
  margin: var(--mc-auto);
}

@media (min-width: 48em) {
  .btn {
    padding: 0.889rem 1.611rem;
  }
}

.btn__large--green {
  background: var(--color-one);
  color: #ffffff;
  margin-bottom: 0.889rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__large--green:hover, .btn__large--green:active {
  background: rgba(114, 193, 213, 0.9);
  cursor: pointer;
}

@media (min-width: 48em) {
  .btn__large--green {
    width: 51%;
  }
}

.btn__version--color {
  color: var(--color-one-hover);
  letter-spacing: inherit;
}

.btn__version--color:active {
  background: var(--color-one);
}

.btn__large--purple {
  background: var(--color-two);
  color: #ffffff;
  margin-bottom: 0.889rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 65%;
}

.btn__large--purple:hover, .btn__large--purple:active {
  background: rgba(177, 141, 221, 0.9);
  cursor: pointer;
}

@media (min-width: 48em) {
  .btn__large--purple {
    width: 26%;
  }
}

@media (min-width: 90em) {
  .btn__large--purple {
    width: 44%;
  }
}

.btn__version-purple--color {
  color: var(--color-two-hover);
  letter-spacing: inherit;
}

.btn__version-purple--color:active {
  background: var(--color-two);
}

.btn__small--purple {
  background: var(--color-two);
  color: #ffffff;
  width: 47%;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__small--purple:hover, .btn__small--purple:active {
  background: rgba(177, 141, 221, 0.9);
  cursor: pointer;
}

@media (min-width: 48em) {
  .btn__small--purple {
    width: 39%;
    height: 3.222rem;
  }
}

.divider {
  position: relative;
  margin: 3.556rem 0 0 0;
  z-index: 2;
}

.divider__line {
  width: 1px;
  height: 4.667rem;
  opacity: 0.25;
  border: 1px solid var(--color-four);
  margin: var(--mc-auto);
}

.divider__circle {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-five);
  border: 1px solid rgba(135, 135, 157, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
  margin: var(--mc-auto);
}

.divider__text--color {
  color: var(--color-four);
  letter-spacing: inherit;
}

.images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.667rem;
  margin-top: 3.556rem;
  margin-bottom: 3.556rem;
}

@media (min-width: 48em) {
  .images {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.611rem;
  }
}

.images__photo--1, .images__photo--2, .images__photo--3, .images__photo--4 {
  -webkit-clip-path: inset(4% 4% 4% 4% round 8px);
          clip-path: inset(4% 4% 4% 4% round 8px);
}

.main__title {
  font-family: var(--font-family);
  font-size: 0.889rem;
  font-weight: var(--font-weight-900);
  line-height: 1.444rem;
  letter-spacing: 0.2222rem;
  color: var(--color-one);
  text-transform: uppercase;
  text-align: center;
}

.main__heading {
  font-size: 1.778rem;
  line-height: 2rem;
  text-align: center;
  margin: 1.333rem 0 1.778rem 0;
}

@media (min-width: 48em) {
  .main__heading {
    font-size: 40px;
    line-height: 44px;
    width: 61%;
    margin: 1.333rem auto 1.778rem auto;
  }
}

@media (min-width: 90em) {
  .main__heading {
    width: 77%;
  }
}

.main__paragraph {
  font-size: 0.889rem;
  text-align: center;
  width: 98%;
  max-width: 327px;
}

@media (min-width: 48em) {
  .main__paragraph {
    width: 96%;
    margin: var(--mc-auto);
    max-width: 573px;
  }
}

@media (min-width: 90em) {
  .main__paragraph {
    width: 84%;
    max-width: 540px;
  }
}

.footer {
  position: relative;
  z-index: 1;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  padding: 5rem 1.5rem;
  height: 21em;
}

@media (min-width: 48em) {
  .footer {
    background-image: url("../assets/tablet/image-footer.jpg");
    background-size: center;
  }
}

@media (min-width: 90em) {
  .footer {
    background-image: url("../assets/desktop/image-footer.jpg");
    height: 15em;
  }
}

.footer__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--color-one);
  opacity: 88%;
  z-index: -1;
}

@media (min-width: 90em) {
  .footer__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__heading {
  font-size: 1.778rem;
  text-align: center;
  color: var(--color-five);
  margin-bottom: 1.333rem;
  /*@media (min-width: 90em) {
      width: 66%;
      max-width: 350px;
    }*/
}

@media (min-width: 48em) {
  .footer__heading {
    width: 66%;
    font-size: 2.222rem;
    margin: 0 auto 1.778rem auto;
  }
}

@media (min-width: 90em) {
  .footer__heading {
    width: 75%;
    text-align: left;
  }
}

.footer__paragraph {
  font-size: 1rem;
  text-align: center;
  color: var(--color-five);
  margin-bottom: 1.778rem;
}

@media (min-width: 48em) {
  .footer__paragraph {
    width: 82%;
    margin: 0 auto 2.222rem auto;
  }
}

@media (min-width: 90em) {
  .footer__paragraph {
    width: 74%;
    text-align: left;
  }
}
