:root {
  --font-family: 'Red Hat Display', sans-serif;
  --color-one: hsl(192, 37%, 48%);
  --color-one-hover: hsl(192, 90%, 77%);
  --color-two: hsl(268, 34%, 53%);
  --color-two-hover: hsl(268, 100%, 86%);
  --color-three: hsl(240, 21%, 20%);
  --color-four: hsl(240, 10%, 57%);
  --color-five: hsl(0, 0%, 98%);
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 112.5%;
}

body {
  font-family: var(--font-family);
}

h1 {
  font-family: var(--font-family);
  font-size: 3.55555rem;
  font-weight: var(--font-weight-900);
  line-height: 3.55555rem;
  color: var(--color-three);
}

h2 {
  font-family: var(--font-family);
  font-size: 2.2222rem;
  font-weight: var(--font-weight-900);
  line-height: 2.44444rem;
  color: var(--color-three);
}

span {
  font-family: var(--font-family);
  font-size: 0.88888rem;
  font-weight: var(--font-weight-900);
  line-height: 1.44444rem;
  letter-spacing: 0.2222rem;
  color: var(--color-one);
}

p {
  font-weight: var(--font-weight-500);
  line-height: 1.44444rem;
  color: var(--color-four);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 108px;
  margin-top: 80px;
}

.hero {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  margin: auto 12rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  grid-column-gap: 88px;
}

@media (max-width: 1400px) {
  .hero {
    margin: 0;
  }
}

.hero__left {
  margin-left: -21px;
}

@media (max-width: 1400px) {
  .hero__left {
    margin-left: -32px;
  }
}

.hero__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1400px) {
  .hero__main {
    width: 540px;
    margin: auto;
  }
}

.hero__heading {
  width: 445px;
  margin: auto;
  margin-bottom: 34px;
}

.hero__paragraph {
  width: 540px;
  margin: 0 auto 32px auto;
}

@media (max-width: 1400px) {
  .hero__paragraph {
    width: 540px;
  }
}

.hero__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__right {
  margin-right: -71px;
  margin-top: 29px;
}

@media (max-width: 1400px) {
  .hero__right {
    margin-right: -32px;
    margin-top: 65px;
  }
}

.btn {
  width: 193px;
  height: 58px;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  border-radius: 29px;
  padding: 16px 29px 16px 29px;
}

.btn__large--green {
  background: var(--color-one);
  color: #ffffff;
  margin-right: 16px;
  font-weight: 900;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__large--green:hover, .btn__large--green:active {
  background: var(--color-one-hover);
  cursor: pointer;
}

.btn__large--purple {
  background: var(-color-two);
  color: #ffffff;
  margin-right: 16px;
  font-weight: 900;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__large--purple:hover, .btn__large--purple:active {
  background: var(--color-two-hover);
  cursor: pointer;
}

.btn__small--purple {
  background: var(--color-two);
  color: #ffffff;
  width: 139px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.btn__small--purple:hover, .btn__small--purple:active {
  background: var(--color-two-hover);
  cursor: pointer;
}

.divider {
  margin: 110px 53rem;
}

@media (max-width: 1400px) {
  .divider {
    margin: 110px 38rem;
  }
}

.divider__line {
  width: 1px;
  height: 84px;
  opacity: 0.25;
  border: 1px solid var(--color-four);
  margin-left: 27px;
}

.divider__circle {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--color-five);
  border: 1px solid rgba(135, 135, 157, 0.25);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 29px;
}

.divider__text--color {
  color: var(--color-four);
  letter-spacing: inherit;
}
