// Brand Colours
:root {
  // Font Family
  --font-family: "Red Hat Display", sans-serif;

  // Brand Colours
  --color-one: hsl(192, 37%, 48%);
  --color-one-hover: hsl(192, 90%, 77%);
  --color-two: hsl(268, 34%, 53%);
  --color-two-hover: hsl(268, 100%, 86%);
  --color-three: hsl(240, 21%, 20%);
  --color-four: hsl(240, 10%, 57%);
  --color-five: hsl(0, 0%, 98%);

  //Fonts Weights
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-weight-900: 900;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 112.5%; // 1 rem = 18px, 18px/16px = 1.125%
}

body {
  font-family: var(--font-family);
}

h1 {
  font-family: var(--font-family);
  font-size: 3.55555rem;
  font-weight: var(--font-weight-900);
  line-height: 3.55555rem;
  color: var(--color-three);
}

h2 {
  font-family: var(--font-family);
  font-size: 2.2222rem;
  font-weight: var(--font-weight-900);
  line-height: 2.44444rem;
  color: var(--color-three);
}

span {
  font-family: var(--font-family);
  font-size: 0.88888rem;
  font-weight: var(--font-weight-900);
  line-height: 1.44444rem;
  letter-spacing: 0.2222rem;
  color: var(--color-one);
}

p {
  font-weight: var(--font-weight-500);
  line-height: 1.44444rem;
  color: var(--color-four);
}
