////////LOGO///////
.logo {
  margin: 2.667rem 0;
}
////////LOGO END///////

////////HERO///////
.hero {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  &__left,
  &__right {
    display: none;

    @media (min-width: 50em) {
      display: block;
    }
  }

  &__left {
    @media (min-width: 120em) {
      display: grid;
      grid-column: 1;
      grid-row: 1;
      align-content: center;
      justify-content: center;
    }
  }
  &__mobile {
    width: 100%;

    @media (min-width: 50em) {
      display: none;
    }
  }

  @media (min-width: 50em) {
    grid-template-columns: 1fr 2fr 1fr;
  }

  &__main {
    display: grid;
    grid-row: 2/3;
    grid-column: span 3;

    @media (min-width: 50em) {
      grid-row: 1/2;
      grid-column: 2;
      justify-content: center;
    }

    @media (min-width: 120em) {
      grid-column: 1/ -1;
    }
  }

  &__heading {
    width: 88%;
    font-size: 2.222rem;
    margin: 2.667rem auto 1.333rem auto;
    text-align: center;
    line-height: 2.444rem;

    @media (min-width: 48em) {
      font-size: 2.667rem;
      line-height: 2.667rem;
      margin: 4rem auto 1.333rem auto;
      max-width: 339px;
    }

    @media (min-width: 50em) {
      margin-top: 1.278rem;
    }

    @media (min-width: 90em) {
      margin-top: 3.333rem;
      max-width: 445px;
      width: 60%;
    }
  }

  &__paragraph {
    width: 100%;
    font-size: 0.889rem;
    line-height: 1.444rem;
    text-align: center;
    margin-bottom: 1.778rem;

    @media (min-width: 48em) {
      max-width: 457px;
      width: 75%;
      margin: 0 auto 1.778rem auto;
    }

    @media (min-width: 50em) {
      width: 93%;
    }

    @media (min-width: 90em) {
      max-width: 540px;
      width: 87%;
    }
  }

  @media (min-width: 48em) {
    &__btns {
      display: flex;
      justify-content: center;
      padding: 0 6.278rem;
    }
  }

  @media (min-width: 50em) {
    &__btns {
      padding: 0 0.111rem;
    }
  }

  &__right {
    margin-right: 0;

    @media (min-width: 50em) {
      margin-top: 2.389rem;
    }

    @media (min-width: 90em) {
      display: grid;
      grid-column: 3/3;
      grid-row: 3/1;
      align-items: end;
      justify-content: center;
    }

    @media (min-width: 120em) {
      display: grid;
      grid-column: 3;
      grid-row: 1/3;
      align-content: center;
      justify-content: center;
    }
  }

  @media (min-width: 120em) {
    grid-template-columns: repeat(3, 1fr);
    margin: auto 2.5rem;
  }
}

////////HERO END///////

////////BUTTONS///////
.btn {
  width: 70%;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 1.444rem;
  text-align: center;
  border-radius: 29px;
  padding: 0.9em 1.611em;
  margin: var(--mc-auto);

  @media (min-width: 48em) {
    padding: 0.889rem 1.611rem;
  }

  &__large--green {
    background: var(--color-one);
    color: #ffffff;
    margin-bottom: 0.889rem;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(192, 54%, 64%, 0.9);
      cursor: pointer;
    }

    @media (min-width: 48em) {
      width: 51%;
    }
  }

  &__version--color {
    color: var(--color-one-hover);
    letter-spacing: inherit;

    &:active {
      background: var(--color-one);
    }
  }

  &__large--purple {
    background: var(--color-two);
    color: #ffffff;
    margin-bottom: 0.889rem;
    transition: all 0.2s;
    width: 65%;

    &:hover,
    &:active {
      background: hsla(267, 54%, 71%, 0.9);
      cursor: pointer;
    }

    @media (min-width: 48em) {
      width: 26%;
    }

    @media (min-width: 90em) {
      width: 44%;
    }
  }

  &__version-purple--color {
    color: var(--color-two-hover);
    letter-spacing: inherit;

    &:active {
      background: var(--color-two);
    }
  }

  &__small--purple {
    background: var(--color-two);
    color: #ffffff;
    width: 47%;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(267, 54%, 71%, 0.9);
      cursor: pointer;
    }
    @media (min-width: 48em) {
      width: 39%;
      height: 3.222rem;
    }
  }
}

////////BUTTONS END///////

////////DIVIDER///////
.divider {
  position: relative;
  margin: 3.556rem 0 0 0;
  z-index: 2;

  &__line {
    width: 1px;
    height: 4.667rem;
    opacity: 0.25;
    border: 1px solid var(--color-four);
    margin: var(--mc-auto);
  }

  &__circle {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-five);
    border: 1px solid rgba(135, 135, 157, 0.25);
    box-sizing: border-box;
    border-radius: 29px;
    margin: var(--mc-auto);
  }

  &__text--color {
    color: var(--color-four);
    letter-spacing: inherit;
  }
}

////////DIVIDER END///////

////////IMAGES///////
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.667rem;
  margin-top: 3.556rem;
  margin-bottom: 3.556rem;

  @media (min-width: 48em) {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.611rem;
  }

  &__photo--1,
  &__photo--2,
  &__photo--3,
  &__photo--4 {
    clip-path: inset(4% 4% 4% 4% round 8px);
  }
}
////////IMAGES END///////

////////MAIN///////

.main {
  &__title {
    font-family: var(--font-family);
    font-size: 0.889rem;
    font-weight: var(--font-weight-900);
    line-height: 1.444rem;
    letter-spacing: 0.2222rem;
    color: var(--color-one);
    text-transform: uppercase;
    text-align: center;
  }

  &__heading {
    font-size: 1.778rem;
    line-height: 2rem;
    text-align: center;
    margin: 1.333rem 0 1.778rem 0;

    @media (min-width: 48em) {
      font-size: 40px;
      line-height: 44px;
      width: 61%;
      margin: 1.333rem auto 1.778rem auto;
    }

    @media (min-width: 90em) {
      width: 77%;
    }
  }

  &__paragraph {
    font-size: 0.889rem;
    text-align: center;
    width: 98%;
    max-width: 327px;

    @media (min-width: 48em) {
      width: 96%;
      margin: var(--mc-auto);
      max-width: 573px;
    }

    @media (min-width: 90em) {
      width: 84%;
      max-width: 540px;
    }
  }
}

////////MAIN END///////

////////FOOTER///////
.footer {
  position: relative;
  z-index: 1;
  background-image: url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  padding: 5rem 1.5rem;
  height: 21em;

  @media (min-width: 48em) {
    background-image: url("../assets/tablet/image-footer.jpg");
    background-size: center;
  }

  @media (min-width: 90em) {
    background-image: url("../assets/desktop/image-footer.jpg");
    height: 15em;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--color-one);
    opacity: 88%;
    z-index: -1;
  }

  &__grid {
    @media (min-width: 90em) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
    }
  }

  &__heading {
    font-size: 1.778rem;
    text-align: center;
    color: var(--color-five);
    margin-bottom: 1.333rem;

    @media (min-width: 48em) {
      width: 66%;
      font-size: 2.222rem;
      margin: 0 auto 1.778rem auto;
    }

    @media (min-width: 90em) {
      width: 75%;
      text-align: left;
    }
  }

  &__paragraph {
    font-size: 1rem;
    text-align: center;
    color: var(--color-five);
    margin-bottom: 1.778rem;
    @media (min-width: 48em) {
      width: 82%;
      margin: 0 auto 2.222rem auto;
    }

    @media (min-width: 90em) {
      width: 74%;
      text-align: left;
    }
  }
  ////////FOOTER END///////
}
