////////LOGO///////
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 108px;
  margin-top: 80px;
}
////////LOGO END///////

////////HERO///////
.hero {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto auto auto;
  margin: auto 12rem;
  align-items: start;
  grid-column-gap: 88px;

  @media (max-width: 1400px) {
    margin: 0;
  }

  &__left {
    margin-left: -21px;
    @media (max-width: 1400px) {
      margin-left: -32px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    @media (max-width: 1400px) {
      width: 540px;
      margin: auto;
    }
  }
  &__heading {
    width: 445px;
    margin: auto;
    margin-bottom: 34px;
  }

  &__paragraph {
    width: 540px;
    margin: 0 auto 32px auto;

    @media (max-width: 1400px) {
      width: 540px;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
  }

  &__right {
    margin-right: -71px;
    margin-top: 29px;
    @media (max-width: 1400px) {
      margin-right: -32px;
      margin-top: 65px;
    }
  }
}
////////HERO END///////

////////BUTTONS///////
.btn {
  width: 193px;
  height: 58px;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  border-radius: 29px;
  padding: 16px 29px 16px 29px;

  &__large--green {
    background: var(--color-one);
    color: #ffffff;
    margin-right: 16px;
    font-weight: 900;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(192, 54%, 64%, 0.9);
      cursor: pointer;
    }
  }

  &__version--color {
    color: var(--color-one-hover);
    letter-spacing: inherit;

    &:active {
      background: var(--color-one);
    }
  }

  &__large--purple {
    background: var(-color-two);
    color: #ffffff;
    margin-right: 16px;
    font-weight: 900;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(267, 54%, 71%, 0.9);
      cursor: pointer;
    }
  }

  &__small--purple {
    background: var(--color-two);
    color: #ffffff;
    width: 139px;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(267, 54%, 71%, 0.9);
      cursor: pointer;
    }
  }
}
////////BUTTONS END///////

////////DIVIDER///////
.divider {
  margin: 110px 53rem;
  @media (max-width: 1400px) {
    margin: 110px 38rem;
  }
  &__line {
    width: 1px;
    height: 84px;
    opacity: 0.25;
    border: 1px solid var(--color-four);
    margin-left: 27px;
  }

  &__circle {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-five);
    border: 1px solid rgba(135, 135, 157, 0.25);
    box-sizing: border-box;
    border-radius: 29px;
  }

  &__text--color {
    color: var(--color-four);
    letter-spacing: inherit;
  }
}
////////DIVIDER END///////

////////IMAGES///////
.images {
  display: grid;
  grid-template-columns: repeat(4, 255px);
  grid-gap: 30px;
  justify-items: center;
  margin: 64px 24rem 80px 24rem;

  @media (max-width: 1400px) {
    margin: 64px 9rem 80px 9rem;
  }

  &__photo--1,
  &__photo--2,
  &__photo--3,
  &__photo--4 {
    clip-path: inset(4% 4% 4% 4% round 8px);
  }

  img {
    width: 255px;
    height: 242px;
  }
}

////////IMAGES END///////
