////////LOGO///////
.logo {
  margin: 48px 0;
}
////////LOGO END///////

////////HERO///////
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;

  &__left {
    margin-left: -20px;
  }

  &__main {
    display: grid;
    grid-row: 2/3;
    grid-column: span 3;
  }

  &__heading {
    width: 88%;
    font-size: 40px;
    margin: 0 auto 24px auto;
    text-align: center;
    line-height: 44px;
  }

  &__paragraph {
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 32px;
  }

  &__right {
    margin-right: -35px;
  }
}

////////HERO END///////

////////BUTTONS///////
.btn {
  width: 70%;
  font-size: 0.9rem;
  font-weight: 900;
  line-height: 26px;
  text-align: center;
  border-radius: 29px;
  padding: 0.9em 1.611em;
  margin: 0 auto;

  &__large--green {
    background: var(--color-one);
    color: #ffffff;
    margin-bottom: 16px;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(192, 54%, 64%, 0.9);
      cursor: pointer;
    }
  }

  &__version--color {
    color: var(--color-one-hover);
    letter-spacing: inherit;

    &:active {
      background: var(--color-one);
    }
  }

  &__large--purple {
    background: var(--color-two);
    color: #ffffff;
    margin-bottom: 16px;
    transition: all 0.2s;
    width: 49%;
    position: absolute;
    top: 76%;
    left: 49%;
    transform: translate(-50%, -50%);

    &:hover,
    &:active {
      background: hsla(267, 54%, 71%, 0.9);
      cursor: pointer;
    }
  }

  &__version-purple--color {
    color: var(--color-two-hover);
    letter-spacing: inherit;

    &:active {
      background: var(--color-two);
    }
  }

  &__small--purple {
    background: var(--color-two);
    color: #ffffff;
    width: 47%;
    transition: all 0.2s;

    &:hover,
    &:active {
      background: hsla(267, 54%, 71%, 0.9);
      cursor: pointer;
    }
  }
}

////////BUTTONS END///////

////////DIVIDER///////
.divider {
  position: relative;
  margin: 64px 0 0 0;
  z-index: 2;

  &__line {
    width: 1px;
    height: 84px;
    opacity: 0.25;
    border: 1px solid var(--color-four);
    margin: 0 auto;
  }

  &__circle {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-five);
    border: 1px solid rgba(135, 135, 157, 0.25);
    box-sizing: border-box;
    border-radius: 29px;
    margin: 0 auto;
  }

  &__text--color {
    color: var(--color-four);
    letter-spacing: inherit;
  }
}

////////DIVIDER END///////

////////IMAGES///////
.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  margin-top: 64px;
  margin-bottom: 64px;

  &__photo--1,
  &__photo--2,
  &__photo--3,
  &__photo--4 {
    clip-path: inset(4% 4% 4% 4% round 8px);
  }
}
////////IMAGES END///////

////////MAIN///////

.main {
  &__title {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: var(--font-weight-900);
    line-height: 26px;
    letter-spacing: 0.2222rem;
    color: var(--color-one);
    text-transform: uppercase;
    text-align: center;
  }

  &__heading {
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    margin: 24px 0 32px 0;
  }

  &__paragraph {
    font-size: 16px;
    text-align: center;
    width: 101%;
  }
}

////////MAIN END///////

////////FOOTER///////
.footer {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    mix-blend-mode: normal;
    background: var(--color-one);
    opacity: 88%;
  }

  &__heading {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    text-align: center;
    color: var(--color-five);
  }

  &__paragraph {
    position: absolute;
    width: 87%;
    top: 54%;
    left: 49%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-align: center;
    color: var(--color-five);
  }
}
////////FOOTER END///////
